:root {
  /* COLORS */
  --white: hsla(0, 0%, 100%, 1);
  --purple: #eff1ff;
  --pink-light: #feeafa;
  --pink-dark: #cbc0d3;
  --blue-light: #8e9aaf;
  --blue-dark: #4a4e69;
  --black: #23053a;

  /* IMAGE URL*/
  --url-logo1: url("./img/logo1.svg");
  --url-logo2: url("./img/logo2.svg");
  --url-sorvete1: url("./img/sorvete1.png");
  --url-sorvete2: url("./img/sorvete2.png");
  --url-sorvete3: url("./img/sorvete3.png");
  --url-sorvete4: url("./img/sorvete4.png");

  /* FONT */
  --font-staatliches: "Staatliches", cursive;
  --font-palanquin: "Palanquin", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-size-header: 4rem;
  --font-size-paragraph: 2.4rem;
  --font-size-button: 2rem;
  --font-size-footer: 1.4rem;

  /* CARD */
  --width-size: clamp(22rem, 25.8rem + 15vw, 32rem);
  --width-size-desktop: clamp(23rem, 23em + 5vw, 27rem);
  --height-size-odd-desktop: clamp(18rem, 15rem + 0.1vw, 22rem);
  --height-size-even-desktop: clamp(38rem, 35rem + 0.1vw, 42rem);
}

* {
  /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--purple);
  min-height: 100vh;
}

.page {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  background: var(--blue-light);
  width: 100%;
  height: 27.9rem;
}

header .logo-wrapper {
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo-wrapper .logo {
  background-image: var(--url-logo2);
  width: 13.7rem;
  height: 13.7rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: logochange 1.3s ease-in-out 0.6s normal;
  animation-fill-mode: forwards;
}

@keyframes logochange {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1) rotate(15deg) rotateY(90deg);
  }
  30% {
    background-image: var(--url-logo1);
    transform: scale(1.5) rotate(10deg);
  }
  60% {
    transform: scale(1) rotate(-10deg) rotateY(90deg);
  }
  100% {
    background-image: var(--url-logo1);
    transform: scale(1.3) rotate(0deg);
  }
}

header h1 {
  background: var(--pink-dark);
  height: 4.9rem;
  font-family: var(--font-staatliches);
  font-size: var(--font-size-header);
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--white);
  letter-spacing: 0.05rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 0.8rem 0 0.7rem;

  animation: downtop 0.5s forwards ease;
}

.cards-wrapper {
  padding: 3.2rem 3.2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.3rem;
}

.cards-wrapper .cards {
  display: grid;
  gap: 3.6rem;
}

.cards-wrapper .cards .card {
  border-radius: 20px;
  position: relative;
  width: var(--width-size);
}

.cards-wrapper .cards .card:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

.cards-wrapper .cards .card:nth-child(odd) {
  height: 25rem;
}

.cards-wrapper .cards .card:nth-child(even) {
  height: 45rem;
}

.cards-wrapper .cards .card:nth-child(1) {
  background-image: var(--url-sorvete1);
  animation: topdown 0.7s backwards ease;
}

.cards-wrapper .cards .card:nth-child(2) {
  background-image: var(--url-sorvete2);
  animation: leftright 0.7s 0.05s backwards ease;
}

.cards-wrapper .cards .card:nth-child(3) {
  background-image: var(--url-sorvete3);
  animation: downtop 0.7s 0.1s backwards ease;
}

.cards-wrapper .cards .card:nth-child(4) {
  background-image: var(--url-sorvete4);
  animation: rightleft 0.7s 0.15s backwards ease;
}

.cards-wrapper .cards .card p {
  width: 11.2rem;
  height: 3.5rem;
  background: var(--pink-light);
  border-radius: 20px;

  font-family: var(--font-staatliches);
  font-weight: 400;
  font-size: var(--font-size-button);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--blue-dark);
  text-align: center;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leftright {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightleft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.desktop-only {
  visibility: hidden;
  max-height: 0;
}

@media (min-width: 43rem) {
  .cards {
    display: grid;
    gap: 3.2rem;
    grid-template-areas:
      "a b"
      "c b"
      "c d";
  }

  .cards-wrapper .cards .card:nth-child(1) {
    grid-area: a;
  }

  .cards-wrapper .cards .card:nth-child(2) {
    grid-area: b;
  }

  .cards-wrapper .cards .card:nth-child(3) {
    grid-area: d;
  }

  .cards-wrapper .cards .card:nth-child(4) {
    grid-area: c;
  }
}

@media (min-width: 72rem) {
  .page {
    display: grid;
    grid-template-columns: 35rem 1fr 1fr 1fr;
    grid-template-areas: "header main main main";
  }
  header {
    grid-area: header;
    min-height: 100%;
  }

  header p {
    font-family: var(--font-roboto);
    font-size: var(--font-size-paragraph);
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--white);
    text-align: center;
    margin: 3.2rem 5rem;

    animation: topdown 1s forwards ease;
  }

  main {
    grid-area: main;
  }

  .cards-wrapper {
    padding: 5rem 0 5rem;
    margin: 0 auto;
    gap: 0;
  }

  .cards {
    display: grid;
    gap: 3.2rem;
    grid-template-areas:
      "a b c"
      "d b f"
      "d e f";
  }

  .cards-wrapper .cards .card {
    width: var(--width-size-desktop);
    background-size: cover;
    background-position: center;
  }
  .cards-wrapper .cards .card:nth-child(odd) {
    height: var(--height-size-odd-desktop);
  }

  .cards-wrapper .cards .card:nth-child(even) {
    height: var(--height-size-even-desktop);
  }

  .cards-wrapper .cards .card:nth-child(1) {
    grid-area: a;
  }

  .cards-wrapper .cards .card:nth-child(2) {
    grid-area: b;
  }

  .cards-wrapper .cards .card:nth-child(3) {
    grid-area: e;
  }

  .cards-wrapper .cards .card:nth-child(4) {
    grid-area: d;
  }
  .cards-wrapper .cards .card:nth-child(5) {
    background-image: var(--url-sorvete1);
    grid-area: c;
    animation: leftright 0.7s 0.2s backwards ease;
  }

  .cards-wrapper .cards .card:nth-child(6) {
    background-image: var(--url-sorvete4);
    grid-area: f;
    animation: topdown 0.7s 0.25s backwards ease;
  }

  .desktop-only {
    visibility: visible;
    max-height: none;
  }

  footer {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: var(--font-size-footer);
    line-height: 2.8rem;
    color: var(--black);
    text-align: center;
  }
  footer a {
    font-weight: 700;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }
}

@media (min-width: 90rem) {
  .page {
    max-width: 150rem;
    margin: 0 auto;
    gap: 3rem;
  }

  .cards-wrapper .cards .card {
    width: 32rem;
  }
  .cards-wrapper .cards .card:nth-child(odd) {
    height: 25rem;
  }

  .cards-wrapper .cards .card:nth-child(even) {
    height: 45rem;
  }
}
